* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(245, 244, 253);
}

.container {
  height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    '. header .'
    '. main .'
    '. footer .';
}

header {
  display: flex;
  align-items: center;
  grid-area: header;
  justify-content: space-around;
}

.nav-bar {
  display: flex;
  width: 60%;
}

.nav-bar-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
  grid-area: main;
  gap: 10px;
}

li {
  list-style: none;
  cursor: pointer;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 20px #dbdbdb solid;
}

li:hover {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  gap: 20px;
}

.cards p {
  text-align: center;
}

.mealImg {
  max-width: 100px;
  max-height: 100px;
}

.comments {
  border: 1px solid #000;
  background: none;
  cursor: pointer;
}

.popUp {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.616);
  backdrop-filter: blur(1px);
  padding: 30px 0;
}

.popUpDiv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 80%;
  max-width: 900px;
  background-color: #fff;
  border-radius: 6px;
}

.popUpDiv > * {
  padding: 20px;
}

.popUpDiv img {
  width: 50%;
  height: 50%;
  max-width: 490px;
  max-height: 490px;
  border-radius: 50px;
}

.popUpDiv p {
  text-align: center;
}

.popUp button {
  position: absolute;
  border: none;
  font-size: 30px;
  left: 90%;
  top: 2%;
  padding: 0;
  background: none;
  cursor: pointer;
}

.popUp button:hover {
  color: red;
  transition-duration: 0.5s;
}
